{
  // other settings
  // formatting using eslint
  // let editor format using prettier for all other files
  // disable editor formatting, so eslint can handle it
  "[javascript]": {
    "editor.formatOnSave": false,
    "quote_type": "single"
  },
  // available through eslint plugin in vscode
  "eslint.autoFixOnSave": true,
  "eslint.alwaysShowStatus": true
}
