.upload-container
  width: 100vw
  // height: calc(100vh - 133px)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  >span
    height: 50%
    width: 50%
    display: flex
    flex-direction: column
    align-items: center
  .ant-row
    height: 10%
    width: 50%
    display: flex
    align-items: center
    justify-content: center
  .pic-quality-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-left: 50px
    padding-top: 50px
    .pic-container
      width: 50%
      margin-bottom: 20px
      display: flex
      flex-direction: column
      .pic-instance
        width: 105px
        height: 105px
        border: 2px solid #e0e0e0
        border-radius: 4px
        display: flex
        align-items: center
        justify-content: center
      img
        width: 85px
        height: 85px
    .pic-wrapper
      margin-bottom: 40px
    .pic-switch
      display: flex
      margin-bottom: 40px
      .pic-switch-item
        display: flex
        margin-right: 20px
        .pic-switch-title
          margin-right: 10px
    .pic-title
      font-size: 20px
      margin-bottom: 10px
    .pic-explain
      margin-bottom: 5px
  .pic-path
    margin-bottom: 10px
    display: flex
    align-items: center